---
layout: archive
---

{{ content }}

{% assign counter = 0 %}
{% assign main_posts_max = 4 %}
{% assign posts = site.categories['Main'] %}

{% if paginator.page == 1 %}
<h3 class="archive__subtitle">Main posts</h3>
  {% for post in posts %}
      {% assign counter=counter | plus:1 %}
      {% if counter <= main_posts_max %}
        {% include archive-single.html %}
      {% endif %}
  {% endfor %}
<br>
{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
