---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
    {% assign pagesInYear = site.pages | group_by_exp: 'page', 'page.date | date: "%Y"' %}
    {% for year in pagesInYear %}
    <li>
        <a href="#{{ year.name }}">
            <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

{% assign pagesByYear = site.pages | group_by_exp: 'page', 'page.date | date: "%Y"' %}
{% for year in pagesByYear %}
<section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for page in year.items %}
        {% include archive-single.html type=page.entries_layout %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
{% endfor %}
